<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TickTick{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.svg') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="block px-6">
            <nav class="relative flex items-center justify-between">
                <a href="/" class="flex items-center h-24 py-2">
                    <img src="{{ asset('images/logo.svg') }}" alt="TickTick" class="h-auto">
                </a>
                <div class="relative flex space-x-4">
                    <a href="{{ path('user_register') }}" 
                        class="relative inline-block text-gray-700 border border-gray-400 rounded-[10px] px-5 py-3 text-lg font-semibold uppercase tracking-wide transition duration-300 overflow-hidden hover:text-white before:absolute before:inset-0 before:bg-white before:transition before:duration-300 before:z-0 hover:before:bg-[linear-gradient(90deg,#1A237E_-3.59%,#03A9F4_94.91%)]"
                    >
                        <span class="relative z-10">
                            {{ 'Register'|trans|raw }}
                        </span>
                    </a>
                    <a 
                        href="#" 
                        class="relative inline-block text-gray-700 border border-gray-400 rounded-[10px] px-5 py-3 text-lg font-semibold uppercase tracking-wide transition duration-300 overflow-hidden hover:text-white before:absolute before:inset-0 before:bg-white before:transition before:duration-300 before:z-0 hover:before:bg-[linear-gradient(90deg,#1A237E_-3.59%,#03A9F4_94.91%)]"
                    >
                        <span class="relative z-10">
                            Login
                        </span>
                    </a>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
