<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="block px-6">
            <nav class="relative flex items-center justify-between">
                <a href="/" class="flex items-center h-24 py-2">
                    <img src="{{ asset('images/logo.svg') }}" alt="TickTick" class="h-auto">
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p>{{ 'Hello,' |trans|raw }} {{ app.user.firstname }} {{ app.user.lastname }} !</p>
                    <form action="{{ path('app_logout') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                        <button type="submit">{{ 'Logout'|trans|raw }}</button>
                    </form>
                {% endif %}
                {% block header %}{% endblock %}
            </nav>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>
